/* new btn */
#roll{
    display: grid;
    border: 1px solid #2E3192;
    color: #2E3192;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    transition: all 0.10s ease 0s; 
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    /* margin: 20px 15px 20px 15px; */
}
#roll:hover{
    box-shadow: inset 300px 0 0 0 #2E3192;
    cursor: pointer;
    color: white;
}
